@import "../../scss/flex";

form {
  @include flexView(center, center);
  flex-direction: column;
  width: clamp(15rem, 80%, 90%);
  margin: 0 auto;
  & > * {
    padding: 0.5rem;
    width:100%;
    @include flexView(baseline, center);
    flex-direction: column;
 
  }
  div{
      input{
          width:100%;
          padding: 0.3rem;
      }
     
  }
  input.btn{
    width:4rem;
    font-size:1rem;
    margin-right: auto;
    border:none;
    margin-left: 0.5rem;
    cursor: pointer;
    &:hover{
        background-color: #000;
        color: #fff;
        
    }
}

}
